*{
            margin: 0;
            padding: 0;
        }
        .all{
            background-image: url("../image/bg.png");
            height:100%;
            width:7.5rem;
        }
        .all img{
            width:7.5rem;
        }
